# Accept intercepted requests
accept-intercepted-requests 1

# Allow listening on all network interfaces (IPv4) and disable IPv6 localhost listening
listen-address  0.0.0.0:8118

# Forward all requests through a local Tor SOCKS5 proxy running on 127.0.0.1:9050
forward-socks5t / 127.0.0.1:9050 .

# Allow direct access to localhost and common local networks without forwarding
forward 172.16.*.*/ .
forward 172.17.*.*/ .
forward 172.18.*.*/ .
forward 172.19.*.*/ .
forward 172.20.*.*/ .
forward 172.21.*.*/ .
forward 172.22.*.*/ .
forward 172.23.*.*/ .
forward 172.24.*.*/ .
forward 172.25.*.*/ .
forward 172.26.*.*/ .
forward 172.27.*.*/ .
forward 172.28.*.*/ .
forward 172.29.*.*/ .
forward 172.30.*.*/ .
forward 172.31.*.*/ .

forward 10.*.*.*/ .
forward 192.168.*.*/ .

forward 127.*.*.*/ .
forward localhost/ .

forward ids-update.kerio.com/ .
forward sophos-update.kerio.com/ .
forward wf-activation.kerio.com/ .
forward prod-update.kerio.com/ .
forward bdupdate.kerio.com/ .
forward bda-update.kerio.com/ .
forward update.kerio.com/ .
